extends ../blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/dashboard/todo-list.css')

block content
    div.dashboard
        div.page-content
            include ../blocks/header
            div.inner-content
                div.todo-list
                    if todoItems.length > 0
                        h3 Things to do
                        for item in todoItems
                            div.todo-item
                                div
                                    form(method='POST', action='/check-todo-item')
                                        input(hidden='true', name='id', value=item.id)
                                        input(
                                            type='checkbox',
                                            name='status',
                                            checked=item.checked
                                            hidden='true'
                                        )
                                        label
                                            input(type='submit', hidden='true')
                                            span
                                                img(src='/images/check.svg')
                                    p= item.title
                                form(method='POST', action='/remove-todo-item')
                                    input(hidden='true', name='id', value=item.id)
                                    button
                                        img(src='/images/delete.svg')
                    else
                        p Your list is empty
                form(method='POST', action='/add-todo-item')
                    div
                        input(
                            type='text',
                            name='title'
                            class=errorMsg ? 'hasError': '',
                            placeholder='Input to do title'
                        )
                        button Add
                    if errorMsg
                        p.inputError= errorMsg
