extends ../blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/dashboard/todo-list.css')

block content
    div
        div.page-content
            include ../blocks/header
            div.inner-content
                div.todo-list
                    if todoItems.length > 0
                        h3 Things to do
                        for item in todoItems
                            div.todo-item
                                div
                                    form(method='POST', action='/check-todo-item')
                                        input(hidden='true', name='id', value=item.id)
                                        input(
                                            type='checkbox',
                                            name='status',
                                            checked=item.checked
                                            hidden='true'
                                        )
                                        label
                                            input(type='submit', hidden='true')
                                            span
                                                img(src='/images/check.svg')
                                    p= item.title
                                div.actions
                                    a(href='/dashboard/todo-list?id=' + item.id)
                                        img(src='/images/edit.svg')
                                    form(method='POST', action='/remove-todo-item')
                                        input(hidden='true', name='id', value=item.id)
                                        button
                                            img(src='/images/delete.svg')
                    else
                        p Your list is empty
                div.todo-list-buttons
                    button#add-todo Add
                    button Download

        div(
            class=addItemError ? 'modal-window visible-modal' : 'modal-window',
            id='add-todo-modal'
        )
            div.modal-content
                h3 What do you need to do?
                form(action='/add-todo-item', method='POST', class='todo-form')
                    input(
                        name='title',
                        placeholder='Add a title',
                        class=addItemError ? 'hasError' : '',
                    )
                    if addItemError
                        p.inputError= addItemError
                    div.buttons
                        if addItemError
                            a(href='/dashboard/todo-list') Cancel
                        else
                            button#cancel-add-todo  Cancel
                        button(type='submit', class='blue-button') Add

        div(
            class=editableItem ? 'modal-window visible-modal' : 'modal-window',
            id='edit-todo-modal'
        )
            div.modal-content
                h3 Edit to do item
                form(action='/edit-todo-item', method='POST', class='todo-form')
                    input(
                        name='title',
                        placeholder='Add a title',
                        value=editableItem && editableItem.title
                        class=editItemError ? 'hasError' : '',
                    )
                    input(
                        hidden='true'
                        value=editableItem && editableItem._id
                        name='id'
                    )
                    if editItemError
                        p.inputError= editItemError
                    div.buttons
                        if editItemError
                            a(href='/dashboard/todo-list') Cancel
                        else
                            button#cancel-edit-todo  Cancel
                        button(type='submit', class='blue-button') Edit

block append scripts
    script.
        document.addEventListener('DOMContentLoaded', function () {
            const addModal = document.getElementById('add-todo-modal');
            const editModal = document.getElementById('edit-todo-modal');
            const addBtn = document.getElementById('add-todo');
            const cancelAddTodo = document.getElementById('cancel-add-todo');
            const cancelEditTodo = document.getElementById('cancel-edit-todo');

            addBtn.addEventListener('click', function () {
                const isVisible = addModal.classList.contains('visible-modal');

                if (isVisible) {
                    addModal.classList.remove('visible-modal');

                    return;
                }

                addModal.classList.add('visible-modal');
            });

            cancelAddTodo && cancelAddTodo.addEventListener('click', function (e) {
                e.preventDefault();

                addModal.classList.remove('visible-modal');
            });

            cancelEditTodo && cancelEditTodo.addEventListener('click', function (e) {
                e.preventDefault();

                editModal.classList.remove('visible-modal');
                window.location.replace(window.location.origin + window.location.pathname);
            })
        });
