extends blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/login.css')

block content
    div.container
        div.content
            h3 Fill the form below to login
            div.error
                p=errorMsg
            form(method='post', action='/login')
                input(
                    type='email',
                    placeholder='Enter your email',
                    name='email',
                    required=true,
                    value=email
                )
                input(
                    type='password',
                    placeholder='Enter your password',
                    name='password',
                    required=true,
                )
                button(type='submit') Login
            a(href='/register') Or create an account
